.env
src/user_posted_images/*
!src/user_posted_images/meta.txt
## ETHAN'S STUFF ##
/test
docker-compose.test.yml
Dockerfile.test
reset_to_csci.sh
send_to_csci.sh
*.ipynb
.env.csci
.env.dev
.env.prod
## SPENCER'S STUFF ##
*~