body {
   background-color: #F3F6BC;
}

hr {
  color: #AA4926;
}

h1.post_notif {
  color: red;
  text-align: center;
  font-size: 5;
}


.titleDrop{
   text-align: center;
}

.boardBox{
   border: 2px solid #AA4926;
   width: 50%;
   margin: auto;
}

ul li{
   color: #AA4926;
}

a.postBoxNoLink{
         text-decoration: none;
         color: black;
         margin: auto;
      }