.boardBoxContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 0px 50px;
}

.boardBox{
    border: 2px solid #AA4926;
    max-width: 1000px;
    width: 100%;
 }

 .board_box_title {
   width: 100%;
    font-weight: bold;
    background-color: lightcoral;
 }

 .board_box_title h2 {
   margin: 10px;
 }

 ul li {
    color: #AA4926;
    list-style-type: none;
    text-align: center;
 }

.topic_columns {
   display: grid;
   grid-auto-rows: 1fr;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   grid-gap: 30px;
}
