.post-container {
   border: 1px solid black;
}
  .post-header {
   display: flex;
   justify-content: space-between;
   margin: 10px;
   padding: 10px;
}
  .post-header-item {
   margin: 10px;
}
  .post-content {
   margin: 10px;
   padding: 10px;
}
  .comments-container {
   margin: 10px;
   border: 1px solid black;
   padding: 10px;
}
  .comment-container {
   margin: 10px;
   border: 1px solid black;
   padding: 10px;
   background: #bfbcf6;
   min-height: 50px;
   min-width: 250px;
}

#commentFlex {
   display: flex;
   justify-content:space-between;
 }

 /* ### view_post page ### */
 .postImage {
   max-width: 500px;
   max-width:500px;
   padding: 5px;
 }

/* ### view_topic page ### */
.postBox{
   padding: 2px;
   height: auto;
   width: 250px;
   text-align: center;
}

.midPostBox{
   padding: 10px;
   display: flex;
}

.grandPostBox{
   padding: 2px;
   display: flex;
   flex-wrap: wrap;
}
